<div class="section-box large-centered small-centered large-2 small-4 columns">
  <h2 class="section-title text-center">Users</h2>
</div>
<div>
  <% @users.each do |user| %>
    <div class="large-4 medium-3 small-6 columns">
      <div class="panel text-center user-listing">
        <div id="unstyled">
          <ul>
          <p> <%= link_to user.username, user_path(user) %> </p>
          <p> <%= user.email %> </p>
              <%= button_to 'Delete', user_path(user),
              method: :delete, id: "delete-#{user.id}", class: "tiny button" %>
          <p>
            <% if user.admin? %>
              <%= button_to 'Remove Admin', admin_path(user),
                method: :delete, id: "admin-#{user.id}", class: "alert tiny button" %>
            <% else %>
              <%= button_to 'Make Admin', user_admin_index_path(user),
                method: :post, id: "admin-#{user.id}", class: "secondary tiny button" %>
            <% end %>
          </p>
        </ul>
      </div>
      </div>
    </div>
  <% end %>
</div>
<footer>
</footer>
