<div class="row">
  <div class="medium-4 columns">
    <div class="card">
      <div class="image">
        <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
        <span class="title"><%= @user.username %></span>
      </div>
      <div class="content">
        <p>
          Your Badges
        </p>
      </div>
      <div class="action">
        <%- if current_user -%>
        <%= link_to "Account Settings", edit_user_registration_path(@user) %>
        <%- end -%>
      </div>
    </div>
  </div>
  <div class="medium-6 large-8 columns end">
    <div class="card">
      <div class="content">
        <span class="title">Assignments</span>
        <p>
          <row>
            <% if @assignments.size > 0 %>
            <% @assignments.each do |assignment| %>
            <%= assignment.title %>
            <% link_to assignment_path(assignment) %>
            <% end %>
            <% else %>
            <%= "You have no assignments."  %>
            <% end %>
          <row>
        </p>
      </div>
      <div class="action">
        <a href=''>This is a link</a>
      </div>
    </div>
  <div class="card">
    <div class="content">
      <span class="title">Curricula</span>
      <p>
        <row>
          <%- if @curricula.size > 0 -%>
          <% @curricula.each do |curriculum| %>
          <%= curriculum.name %>
          <%- link_to curriculum_path(curriculum_path) -%>
          <%- end -%>
          <%- else -%>
          <%= "You have no curricula assigned."  %>
          <%- end -%>
        <row>
      </p>
    </div>
    <div class="action">
      <a href='/curricula'>View All Curricula</a>
    </div>
  </div>
</div>
