<!DOCTYPE html>
<html>
<head>
  <title>KidCoders</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= content_for :extra_footer do %>
    <script type="text/javascript">
      var widget = new Something.Widget('foo');
    </script>
  <% end %>
</footer>
</html>
